.slides {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.5);
}

.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(1.1) translateX(-16px) rotate(-5deg);
    transition: all 0.5s ease-in-out;
}

.slides .active {
    z-index: 1;
    opacity: 1;
    transform: scale(1) translateX(0) rotate(0);
}