.header {
    display: flex;
    gap: 30px;
    color: #fff;
    width: 90%;
    max-width: 1200px;
    margin: 32px auto;
}

.image {
    position: relative;
    width: 400px;
}

.image img {
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 0 0 16px rgba($color: #000000, $alpha: 0.5);
    animation: fade-slide-in-from-right 2s ease-out forwards;
}

.headerText {
    padding: 0.5rem 1rem 0 1rem;
    color: #ddd6cb;
    max-width: 40rem;
    animation: fade-slide-in-from-right 1s ease-out forwards;
}

.headerText .creator{
    font-style: italic;
}

.creator a {
  background: linear-gradient(90deg, #f9572a, #ff8a05);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.creator a:hover,
.creator a:active {
  background: linear-gradient(90deg, #f9572a, #ff8a05);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 18px rgba(248, 190, 42, 0.8);
}

.instructions {
    font-size: 1.25rem;
    line-height: 1.5;
    background-color: #6e6464;
    color: #13120f;
    border-radius: 8px;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    padding: 2rem;
    max-width: 60rem;
    margin: 2rem auto;
    animation: fade-slide-in-from-bottom 1s ease-out forwards;
}

@keyframes fade-slide-in-from-bottom {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-slide-in-from-right {
  0% {
    opacity: 0;
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}