.header {
    width: 90%;
    max-width: 900px;
    margin: 32px auto;
    text-align: center;
    color: #ffffff;
}

.header h1 .higlight {
    background: linear-gradient(90deg, #ff8a05, #f9b331);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main {
    color: #ffffff;
    width: 90%;
    max-width: 900px;
    margin: 32px auto;
    text-align: center;
}

.main ul {
    list-style: none;
    text-align: center;
    padding-left: 0;
}

.main img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}
