.grid {
    width: 90%;
    max-width: 1200px;
    margin: 32px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 40px;
    list-style: none;
    padding: 0;
}