@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&family=Montserrat:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Quicksand", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: radial-gradient(#282c34, #282c34);
}

.error, .not-found {
    text-align: center;
    color: white
}

.error h1, .not-found h1 {
    background: linear-gradient(90deg, #ff9b05, #f9572a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}