.header {
    display: flex;
    gap: 32px;
    margin: 32px auto;
    width: 90%;
}

.slideshow {
    width: 640px;
    height: 500px;
}

.hero {
    color: #ddd6cb;
    font-size: 24px;
}

.hero h1 {
    background: linear-gradient(90deg, #f9572a, #ffc905);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
}

.cta {
    display: flex;
    gap: 16px;
}

.cta a {
    color: #ffffff;
    font-weight: bold;
    background: linear-gradient(90deg, #f9572a, #ff9b05);
    border-radius: 8px;
    padding: 8px 16px;
    margin-top: 16px;
    text-decoration: none;
}

.cta a:first-child {
    background: transparent;
    color: #ff9b05;
    padding-left: 0;
}

.cta a:hover, .cta a:active {
    background: linear-gradient(90deg, #fd4715, #f9b241)
}

.cta a:first-child:hover, .cta a:first-child:active {
    background: transparent;
    color: #f9b241;
}

.section {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #ddd6cb;
    margin: 32px auto;
    width: 90%;
    max-width: 50rem;
    font-size: 1.5rem;
}