.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 16px;
}

@media (min-width: 760px) {
    .header {
        padding: 32px 10%;
    }
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #ddd6cb;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
}

.logo img {
    width: 60px;
    height: 60px;
}

.header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}